<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript JSHint</string>
	<key>description</key>
	<string>Runs JSHint upon save. Pretty UI, Requires Node.js.</string>
	<key>contactEmailRot13</key>
	<string>obawbhe@cvreeroregrg.arg</string>
	<key>contactName</key>
	<string>Pierre Bertet</string>
	<key>uuid</key>
	<string>87D63FA0-E46B-40D0-8A56-B485242FD364</string>
</dict>
</plist>
