<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript JSHint</string>
	<key>description</key>
	<string>Runs JSHint upon save. Pretty UI, Requires Node.js.</string>
	<key>contactEmailRot13</key>
	<string>fgnass@gmail.com</string>
	<key>contactName</key>
	<string>Felix Gnass</string>
	<key>uuid</key>
	<string>EC121F15-2F76-464C-92D3-0C7999CB35BD</string>
</dict>
</plist>
